---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pagetitle = "Mi Blog Aprendiendo Astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pagetitle}</title>
  </head>
  <body>
    <BaseLayout pagetitle={pagetitle}>
      <p>Aquí van los posts de mi aprendizaje de Astro</p>
      <ul>
        {
          allPosts.map((post) => (
            <BlogPost url={post.url} title={post.frontmatter.title} />
          ))
        }
      </ul>
    </BaseLayout>
  </body>
  <script>
    import "../scripts/menu.js";
  </script>
</html>
